body {
  background-color: #f8f9fa;
}
@media (min-width: 992px) {
  .w-lg-250{
    width: 250px;
  }
  .w-all-250{
    width: calc(100% - 250px);
  }
}
@media (max-width: 991px) {
  .w-lg-250{
    width: 50px;
    overflow: hidden;
  }
  .w-all-250{
    width: calc(100% - 50px);
  }
  .w-50{
    /* right: 0; */
    width: 50px;
    margin-right: -10px;
    /* display: block; */
    /* justify-content: start; */
    /* right: 0; */
  }
}

.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}
.h-100-vh {
  height: 100vh;
}
.top-0 {
  top: 0;
}
.start-0 {
  left: 0;
}
.end-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.h-100-vh {
  height: 100vh;
}
.min-vh-100 {
  min-height: 100vh;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
ul li a,ul li button {
  transition: 0.3s;
  margin-bottom: 5px;
}
ul li:hover,
ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span,.sidebar ul li button span {
  font-size: 14px;
  margin-left: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider ul  li {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  justify-content: space-between;
  transition: 0.3s;
  border-radius: 6px;
  cursor: pointer;
}
.slider ul  li a , .sidebar ul li button{
  margin: 0;
  display: flex;
  align-items: center;
}
.slider ul  li a i , .sidebar ul li button a {
  margin-right: 10px;

}
.slider ul  li a i.fa-user {
  /* font-size: 30px; */
  /* transform: translateX(2px); */
}

.slider ul  li a i,.slider ul  li a i::before ,.slider ul  li button i {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}
.margin-left {
  margin-left: 100px;
}
.slider ul  li:hover{
  background-color: #f6f6f6;
}

.slider ul  li.active{
  background-color: #f6f6f6;
  color: var(--blue-color);
}
@media (min-width: 991px) {
  .padding-100 {
    box-sizing: border-box;
    padding:0 0 0 250px ;
  }
}
@media (max-width: 991px) {
  .padding-100 {
    box-sizing: border-box;
    padding:0 0 0 80px ;
  }
.table-responsive{
  overflow: scroll;
  /* padding: 20px; */
  -webkit-overflow-scrolling: touch;
}
.table-responsive table{
  min-width: 991px;
}

}
form {
  width: 100%;
}