body , footer,section{
  background-color: #f8f9fa;
}

.hero-section {
  padding: 4rem 0;
  background-color: #f8f9fa;
  position: relative;
  /* z-index: -1; */
}

.letter {
  color: #ff0000;
}

/* Scoped styles for hero-swiper */
.hero-swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero-swiper img {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.39);

}

/* Default styles for swiper slides */
.hero-swiper .swiper-slide {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.hero-swiper .swiper-slide-active,
.hero-swiper .swiper-slide-duplicate-active {
  opacity: 1; /* Full opacity for active slides */
}

/* For large screens, apply scale and opacity changes to hero-swiper */
@media (min-width: 992px) {
  .hero-swiper .swiper-slide {
    scale: 1.2; /* Default scale for large screens */
  }

  .hero-swiper .swiper-slide-active,
  .hero-swiper .swiper-slide-duplicate-active {
    opacity: 1; /* Full opacity for active slides */
    scale: 1.5; /* Scale active slides more */
  }
}

html {
  scroll-behavior: smooth;
}
.explore{
  padding: 10px 20px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}
.explore::after{
  content: "Explore";
  padding: 10px 20px;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  right: 100%;
  /* width: 0; */
  height: 100%;
  color: #ffffff;
  width: 100%;
  background-color: #000;
  transition: width 0.3s ease;
  transition: right 0.3s ease;
  /* z-index: -1; */
}
.explore span{
  position: relative;
  top: 0px;
  transition: top 0.3s ease;

  z-index: 1;
}
.explore:hover span{
  top: 30px;
}
.explore:hover::after{
  right: 0;
}
