.inf{
  width: 100%;
}
.inf li {
  margin: 20px 0;
}
.content {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* gap: 30px; */
  height: 100%;
}
.inf li i {
  margin-right: 10px;
  font-size:  20px;
}